@import url(./global.css);
@import url(./header.css);
@import url(./main.css);
@import url(./pricing.css);
@import url(./download.css);
@import url(./footer.css);

    body {
        background: var(--background-color);
        width: 99vw;
        height: 100vh;
        margin: auto;
        color: var(--text-color-secondary);
        max-width: 1280px;
    }