@import url(./global.css);
@import url(./mobile.css);
@import url(./nav.css);
@import url(./main.css);
@import url(./price.css);

body {
    background: var(--background-color);
    width: 99vw;
    height: 100vh;
    color: var(--text-color-secondary);
    max-width: 1280px;
}