@media (min-width: 441px) {
    .container {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 7rem; 
    height: 60em;
    gap: 4.8rem;

    background: url(../assets/images/background.png) no-repeat bottom;

    .container-title {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        gap: 2.4rem;

        .container-title-text {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            gap: 1.6rem;

            h1 {
                font: var(--h1-desktop);
                color: var(--text-color-primary);
            }

            h2 {
                font: var(--h2-desktop-var);
                color: var(--text-color-secundary);
            }
        }

    }

    .container-buttons {
        display: flex;
        align-items: center;
        justify-content: center;

        gap: 1.6rem;

        button {
            border: none;
            padding: 1.6rem 3.2rem;
        }

        .button-one {
            border: 1px solid var(--text-color-primary);
            background: transparent;
            font: var(--text-desktop);
            color: var(--text-color-primary);

            border-radius: .5rem;
            text-align: center;
            overflow: hidden; /* Garante que o pseudo-elemento não saia dos limites */
            transition: all 0.3s ease; /* Transição suave */
            z-index: 1;

            position: relative;
            display: inline-block;

            &::after {
                content: attr(aria-label);
                background: var(--brand-gradient);
                -webkit-background-clip: text;
                background-clip: text;
            }
        }

        .button-one:hover {
            background: var(--brand-gradient);
            background-clip: text;
            -webkit-text-fill-color: transparent;
            
            border-image-source: var(--brand-gradient);
            border-image-slice: 1;
            
            cursor: pointer;
            scale: 1.1;
            transition: 0.3s ease;
        }

        .button-one:hover {
            background: var(--brand-gradient);
            background-clip: text;
            color: white;

            cursor: pointer;
        }

        .button-two {
            background-color: var(--text-color-primary);
            font: var(--text-desktop);
            color: var(--background-color);
            border-radius: 0.5rem;
        }

        .button-two:hover {
            background: var(--brand-gradient);
            cursor: pointer;
            color: white;
            scale: 1.1;
            transition: 0.3s ease;
        }
        
    }
    }

    .section-introduction {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 4rem 2.4rem 8rem 2.4rem;
    gap: 3.2rem;

    background-color: var(--surface-color);

    .section-introduction-text {
        display: flex;
        flex-direction: column;
        justify-content: center;

        gap: 0.8rem;

        h2 {
            font: var(--h2-desktop);
            color: var(--text-color-primary);
        }

        p:nth-child(1) {
            text-transform: uppercase;
            font: var(--span-desktop);
            color: var(--brand-color-primary);
        }

        p:nth-child(3) {
            font: var(--paragraph-desktop);
            color: var(--text-color-secondary);
        }
    }

    img {
        width: 544px;
    }
    }

    .section-informations {
    display: grid;
    padding: 8rem 2.4rem;

    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat (2, 1fr);
    grid-gap: 3.2rem;

    .section-informations-one {
        grid-column: 1 / 2;

        background-color: var(--surface-color);
        padding: 4rem 3.2rem;
        border-radius: 2.4rem;
        height: 40rem;

        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1.6rem;

        .section-informations-text {
            display: flex;
            flex-direction: column;
            gap: 0.8rem;

            h2 {
                font: var(--h3-desktop);
                color: var(--text-color-primary);
            }

            p {
                font: var(--paragraph-desktop);
                color: var(--text-color-secondary);
            }
        }
    }

    .section-informations-two {
        grid-column: 2/4;

        background-color: var(--surface-color);
        padding: 4rem 3.2rem;
        border-radius: 2.4rem;
        height: 40rem;

        display: flex;
        justify-content: center;
        gap: 3.2rem;
        overflow: hidden;

        .section-informations-two-left {
            display: flex;
            flex-direction: column;
            gap: 1.6rem;
        }

        .section-informations-two-text {
            display: flex;
            flex-direction: column;
            gap: 0.8rem;

            h2 {
                font: var(--h3-desktop);
                color: var(--text-color-primary);
            }

            p {
                font: var(--paragraph-desktop);
                color: var(--text-color-secondary);
            }
        }

        img {
            height: 48.5rem;
            object-position: 0rem -10rem;
            margin: -6rem -1rem;
        }
    }

    .section-informations-three {
        grid-column: 4/5;

        background-color: var(--surface-color);
        padding: 4rem 3.2rem;
        border-radius: 2.4rem;
        height: 40rem;

        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1.6rem;

        .section-informations-text {
            display: flex;
            flex-direction: column;
            gap: 0.8rem;

            h2 {
                font: var(--h3-desktop);
                color: var(--text-color-primary);
            }

            p {
                font: var(--paragraph-desktop);
                color: var(--text-color-secondary);
            }
        }
    }

    .section-informations-four {
        grid-column: 1/3;

        background-color: var(--surface-color);
        padding: 4rem 3.2rem;
        border-radius: 2.4rem;
        height: 40rem;

        display: flex;
        justify-content: center;
        gap: 3.2rem;
        overflow: hidden;

        .section-informations-four-text {
            display: flex;
            flex-direction: column;
            gap: 1.6rem;
        }

        .section-informations-text {
            display: flex;
            flex-direction: column;
            gap: 0.8rem;

            h2 {
                font: var(--h3-desktop);
                color: var(--text-color-primary);
            }

            p {
                font: var(--paragraph-desktop);
                color: var(--text-color-secondary);
            }
        }

        img {
            height: 48.5rem;
            object-position: 0rem -10rem;
            margin: -6rem -1rem;
        }
    }

    .section-informations-five {
        grid-column: 3/5;

        background-color: var(--surface-color);
        padding: 4rem 3.2rem;
        border-radius: 2.4rem;
        height: 40rem;

        display: flex;
        justify-content: center;
        gap: 3.2rem;
        overflow: hidden;

        .section-informations-two-left {
            display: flex;
            flex-direction: column;
            gap: 1.6rem;
        }

        .section-informations-two-text {
            display: flex;
            flex-direction: column;
            gap: 0.8rem;

            h2 {
                font: var(--h3-desktop);
                color: var(--text-color-primary);
            }

            p {
                font: var(--paragraph-desktop);
                color: var(--text-color-secondary);
            }
        }

        img {
            height: 48.5rem;
        }
    }
    }
}