@media (max-width: 375px) {

    body {
        background: var(--background-color);
        color: var(--text-color-secondary);
        margin: auto;
        overflow-x: hidden;
    }

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    
        padding: 2.4rem 3.2rem;
    
            .nav {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 2.4rem;
    
                a {
                    display: none;
                }
    
                button {
                    padding: 0.8rem 1.6rem;
                    border-radius: 0.8rem;
                    border: none;
                    transform: scale(1.1);
                }
    
                button:hover {
                    background: var(--brand-gradient);
                    color: white;
                    cursor: pointer;
                    scale: 1.1;
                    transition: 0.3s;
                }
            }
        }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        margin-top: 3rem; 
        height: 68em;
        width: 100%;
        gap: 4.8rem;
        
        background: url(../assets/images/background.png) no-repeat bottom;
        
        .container-title {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        
            gap: 1.6rem;

            svg {
                width: 20.6rem;
            }
        
            .container-title-text {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
        
                gap: 0.8rem;
        
                h1 {
                    font: var(--h1-mobile);
                    color: var(--text-color-primary);
                    padding: 0rem 3rem;
                }
        
                h2 {
                    font: var(--h3-mobile-med);
                    color: var(--text-color-secundary);
                }
            }
        
        }
        
        .container-buttons {
            display: flex;
            align-items: center;
            justify-content: center;
        
            gap: 1.6rem;
        
            button {
                border: none;
                padding: 1.2rem 2.4rem;
                border-radius: 0.8rem;
            }
        
            .button-one {
                border: 1px solid var(--text-color-primary);
                background-color: transparent;
                font: var(--text-desktop);
                color: var(--text-color-primary);
        
                border-radius: 8px; /* Define o border-radius */
                text-align: center;
                overflow: hidden; /* Garante que o pseudo-elemento não saia dos limites */
                transition: all 0.3s ease; /* Transição suave */
                z-index: 1;
        
                position: relative;
                display: inline-block;

                &::after {
                    content: attr(aria-label);
                    background: var(--brand-gradient);
                    -webkit-background-clip: text;
                    background-clip: text;
                }
            }
        
            .button-one:hover {
                background: var(--brand-gradient);
                border: 1px solid var(--brand-gradient);
                background-clip: text;
                -webkit-text-fill-color: transparent;
                border: 1px solid;
                border-image-source: var(--brand-gradient);
                border-image-slice: 1;
                cursor: pointer;
                scale: 1.1;
                transition: 0.3s ease;
            }
        
            .button-two {
                background-color: var(--text-color-primary);
                font: var(--text-desktop);
                color: var(--background-color);
            }

            .button-two:hover {
                background: var(--brand-gradient);
                cursor: pointer;
                color: white;
                scale: 1.1;
                transition: 0.3s ease;
            }
        }
    }

    .section-introduction {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        
        padding: 8rem 2.4rem 4rem 2.4rem;
        gap: 3.2rem;
        position: relative;
        
        background-color: var(--surface-color);
        
        .section-introduction-text {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            order: 2;
            margin-top: 2rem;
        
            gap: 0.8rem;
        
            h2 {
                font: var(--h2-mobile);
                color: var(--text-color-primary);
            }
        
            p:nth-child(1) {
                text-transform: uppercase;
                font: var(--span-mobile);
                color: var(--brand-color-primary);
            }
        
            p:nth-child(3) {
                font: var(--paragraph-mobile);
                color: var(--text-color-secondary);
            }
        }
        
        img {
            width: 312px;
            order: 1;
            position: absolute;
            top: -55%;
        }
        }

    .section-informations {
            display: grid;
            padding: 4.8rem 2.4rem;
        
            grid-gap: 2.4rem;
        
            .section-informations-one {
        
                background-color: var(--surface-color);
                padding: 2.4rem 2.4rem;
                border-radius: 2.4rem;
        
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 1.6rem;
        
                .section-informations-text {
                    display: flex;
                    flex-direction: column;
                    gap: 0.8rem;
        
                    h2 {
                        font: var(--h3-mobile);
                        color: var(--text-color-primary);
                    }
        
                    p {
                        font: var(--paragraph-mobile);
                        color: var(--text-color-secondary);
                    }
                }
            }
        
            .section-informations-two {
        
                background-color: var(--surface-color);
                padding: 2.4rem 2.4rem;
                border-radius: 2.4rem;
        
                display: flex;
                justify-content: center;
                gap: 1.6rem;
        
                .section-informations-two-left {
                    display: flex;
                    flex-direction: column;
                    gap: 0.8rem;
                }
        
                .section-informations-two-text {
                    display: flex;
                    flex-direction: column;
                    gap: 0.8rem;
        
                    h2 {
                        font: var(--h3-mobile);
                        color: var(--text-color-primary);
                    }
        
                    p {
                        font: var(--paragraph-mobile);
                        color: var(--text-color-secondary);
                    }
                }
        
                img {
                    display: none;
                }
            }
        
            .section-informations-three {
        
                background-color: var(--surface-color);
                padding: 2.4rem 2.4rem;
                border-radius: 2.4rem;
        
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 1.6rem;
        
                .section-informations-text {
                    display: flex;
                    flex-direction: column;
                    gap: 0.8rem;
        
                    h2 {
                        font: var(--h3-mobile);
                        color: var(--text-color-primary);
                    }
        
                    p {
                        font: var(--paragraph-mobile);
                        color: var(--text-color-secondary);
                    }
                }
            }
        
            .section-informations-four {
        
                background-color: var(--surface-color);
                padding: 2.4rem 2.4rem;
                border-radius: 2.4rem;
        
                display: flex;
                justify-content: center;
                gap: 1.6rem;
        
                .section-informations-four-text {
                    display: flex;
                    flex-direction: column;
                    gap: 0.8rem;
                }
        
                .section-informations-text {
                    display: flex;
                    flex-direction: column;
                    gap: 0.8rem;
        
                    h2 {
                        font: var(--h3-mobile);
                        color: var(--text-color-primary);
                    }
        
                    p {
                        font: var(--paragraph-mobile);
                        color: var(--text-color-secondary);
                    }
                }
        
                img {
                    display: none;
                }
            }
        
            .section-informations-five {
        
                background-color: var(--surface-color);
                padding: 2.4rem 2.4rem;
                border-radius: 2.4rem;
        
                display: flex;
                justify-content: center;
                gap: 1.6rem;
        
                .section-informations-two-left {
                    display: flex;
                    flex-direction: column;
                    gap: 0.8rem;
                }
        
                .section-informations-two-text {
                    display: flex;
                    flex-direction: column;
                    gap: 0.8rem;
        
                    h2 {
                        font: var(--h3-mobile);
                        color: var(--text-color-primary);
                    }
        
                    p {
                        font: var(--paragraph-mobile);
                        color: var(--text-color-secondary);
                    }
                }
        
                img {
                    display: none;
                }
            }
        }

    .section-prices {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    
        gap: 3.2rem;
        padding: 4.8rem 2.4rem;
    
        .section-prices-title {
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: center;
            flex-direction: column;
    
            gap: 0.8rem;
    
            p {
                font: var(--span-desktop);
                color: var(--brand-color-primary);
                text-transform: uppercase;
            }
    
            h2 {
                font: var(--h2-mobile);
                color: var(--text-color-primary);
            }
        }
    
        .section-prices-options {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
    
            gap: 3.2rem;
    
            .section-prices-options-basic {
                background-color: var(--surface-color);
                border: 1px solid var(--stroke-color);
    
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
    
                gap: 2.4rem;
                padding: 2.4rem 2.4rem;
                border-radius: 2.4rem;
                max-height: 48rem;
    
                .section-prices-options-basic-top {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
    
                    gap: 2.4rem;
    
                    .section-prices-options-basic-top-text {
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        width: 90%;
    
                        gap: 0.4rem;
    
                        h6 {
                            font: var(--h3-mobile);
                            color: var(--text-color-primary);
                        }
    
                        p {
                            font: var(--paragraph-mobile);
                            color: var(--text-color-secondary);
                        }
                    }
    
                    h4 {
                        font: var(--h1-mobile-var);
                        color: var(--text-color-primary);
                    }
    
                    button {
                        background-color: var(--surface-color);
                        border: 1px solid var(--text-color-primary);
                        padding: 1.2rem 2.4rem;
                        color: var(--text-color-primary);
                        border-radius: 0.8rem;
                    }
    
                    button:hover {
                        background: var(--brand-gradient);
                        border: 1px solid var(--brand-gradient);
                        background-clip: text;
                        -webkit-text-fill-color: transparent;
                        border: 1px solid;
                        border-image-source: var(--brand-gradient);
                        border-image-slice: 1;
                        cursor: pointer;
                        scale: 1.1;
                        transition: 0.3s ease;
                    }
                }
    
                .section-prices-options-basic-dash {
                    display: flex;
                    content: "";
                    width: 80%;
                    height: 1px;
                    background: linear-gradient(90deg, #a1a1aa00 0%, #A1A1AA 50%, #a1a1aa00 100%);
                }
    
                .section-prices-options-basic-options {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    align-self: flex-start;
    
                    gap: 1.6rem;
    
                    .section-prices-options-basic-options-item {
                        display: flex;
                        align-items: center;
    
                        gap: 0.8rem;
                        font: var(--paragraph-desktop);
                    }
                }
            }
    
            .section-prices-options-premium {
                background-color: var(--surface-color);
    
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
    
                gap: 3.2rem;
                padding: 7.2rem 2.4rem 2.4rem 2.4rem;
                border-radius: 2.4rem;
    
                position: relative;
    
                .section-prices-options-premium-label {
                    text-transform: uppercase;
                    font-family: "Inter", sans-serif;
                    font-size: 1.2rem;
                    color: var(--background-color);
                    background: var(--brand-gradient);
                    font-weight: 700;
                    padding: 1.2rem 3.2rem;

                    border-radius: 2rem 0 2rem 0;

                    position: absolute;
                    top: -3px;
                    left: -0.2px;
                }

                &::before {
                    content: "";
                    transform: scale(1.01);
                    background: var(--brand-gradient);
                    position: absolute;
                    inset: 0;
                    border-radius: inherit;
                    z-index: -1;
                }
    
                .section-prices-options-premium-top {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
    
                    gap: 2.4rem;
    
                    .section-prices-options-premium-top-text {
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
    
                        gap: 0.4rem;
    
                        h6 {
                            font: var(--h3-mobile);
                            color: var(--text-color-primary);
                        }
    
                        p {
                            font: var(--paragraph-mobile);
                            color: var(--text-color-secondary);
                        }
                    }
    
                    .section-prices-options-family-top-price {
                        display: flex;
                        gap: 0.4rem;
    
                        p {
                            font: var(--paragraph-desktop);
                            color: var(--text-color-secondary);
                            align-self: flex-end;
                        }
                    }
    
                    h4 {
                        font: var(--h1-mobile-var);
                        color: var(--text-color-primary);
                    }
    
                    button {
                        background-color: var(--text-color-primary);
                        padding: 1.2rem 2.4rem;
                        color: var(--background-color);
                        border-radius: 0.8rem;
                        border: none;
                    }
    
                    button:hover {
                        background: var(--brand-gradient);
                        color: white;
                        cursor: pointer;
                        scale: 1.1;
                        transition: 0.3s ease;
                    }
                }
    
                .section-prices-options-premium-dash {
                    display: flex;
                    content: "";
                    width: 80%;
                    height: 1px;
                    background: linear-gradient(90deg, #a1a1aa00 0%, #A1A1AA 50%, #a1a1aa00 100%);
                }
    
                .section-prices-options-premium-options {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    align-self: flex-start;
    
                    gap: 1.6rem;
    
                    .section-prices-options-premium-options-item {
                        display: flex;
                        align-items: center;
    
                        gap: 0.8rem;
                        font: var(--paragraph-desktop);
                    }
                }
            }
    
            .section-prices-options-family {
                background-color: var(--surface-color);
                border: 1px solid var(--stroke-color);
    
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
    
                gap: 2.4rem;
                padding: 2.4rem;
                border-radius: 2.4rem;
                max-height: auto;
    
                .section-prices-options-family-top {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
    
                    gap: 2.4rem;
    
                    .section-prices-options-family-top-text {
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        width: 90%;
    
                        gap: 0.4rem;
    
                        h6 {
                            font: var(--h3-mobile);
                            color: var(--text-color-primary);
                        }
    
                        p {
                            font: var(--paragraph-desktop);
                            color: var(--text-color-secondary);
                        }
                    }
    
                    .section-prices-options-family-top-price {
                        display: flex;
                        gap: 0.4rem;
    
                        p {
                            font: var(--paragraph-desktop);
                            color: var(--text-color-secondary);
                            align-self: flex-end;
                        }
                    }
    
                    h4 {
                        font: var(--h1-mobile-var);
                        color: var(--text-color-primary);
                    }
    
                    button {
                        background-color: var(--surface-color);
                        border: 1px solid var(--text-color-primary);
                        padding: 1.2rem 2.4rem;
                        color: var(--text-color-primary);
                        border-radius: 0.8rem;
                    }
    
                    button:hover {
                        background: var(--brand-gradient);
                        border: 1px solid var(--brand-gradient);
                        background-clip: text;
                        -webkit-text-fill-color: transparent;
                        border: 1px solid;
                        border-image-source: var(--brand-gradient);
                        border-image-slice: 1;
                        cursor: pointer;
                        scale: 1.1;
                        transition: 0.3s ease;
                    }
                }
    
                .section-prices-options-family-dash {
                    display: flex;
                    content: "";
                    width: 80%;
                    height: 1px;
                    background: linear-gradient(90deg, #a1a1aa00 0%, #A1A1AA 50%, #a1a1aa00 100%);
                }
    
                .section-prices-options-family-options {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    align-self: flex-start;
    
                    gap: 1.6rem;
    
                    .section-prices-options-family-options-item {
                        display: flex;
                        align-items: center;
    
                        gap: 0.8rem;
                        font: var(--paragraph-desktop);
                    }
                }
    
                span {
                    font: var(--span-desktop-reg);
                    align-self: flex-start;
                }
            }
        }
    }
    
    .section-download {
        padding: 4.8rem 2.4rem;

        .section-download-container {
            display: flex;
            background-color: var(--surface-color);

            border-radius: 2.4rem;

            position: relative;

            .section-download-content {
                display: flex;
                flex-direction: column;
                justify-content: center;

                padding: 4.8rem 2.4rem 24rem 2.4rem;
                gap: 3.2rem;

                .section-download-content-text {
                    display: flex;
                    flex-direction: column;

                    gap: 0.8rem;

                    span {
                        font: var(--span-mobile);
                        color: var(--brand-color-primary);
                        text-transform: uppercase;
                    }

                    h2 {
                        font: var(--h2-mobile);
                        color: var(--text-color-primary);
                    }

                    p {
                        font: var(--paragraph-mobile);
                        color: var(--text-color-secondary);
                    }
                }

                .section-download-content-buttons {
                    display: flex;
                    flex-direction: column;
                    gap: 1.5rem;

                    svg:hover {
                        cursor: pointer;
                    }
                }
            }

            img {
                height: 32rem;
                position: absolute;
                right: -15%;
                bottom: 0;
                overflow: hidden;
            }
        }
    }

    footer {
        display: flex;
        flex-direction: column;
        background-color: var(--surface-color);

        padding: 4.88rem 3.2rem 2.4rem 3.2rem;
        gap: 4.8rem;

        .links {
            display: flex;
            flex-direction: column;
            gap: 6.4rem;

            img {
                width: 8.5rem;
            }

            .links-uteis {
                display: flex;
                            flex-direction: column;
                gap: 6.4rem;

                .links-uteis-topics {
                    display: flex;
                    flex-direction: column;
                    gap: 2rem;
                    margin-right: 3rem;

                    label {
                        font: var(--span-desktop-reg);
                        color: var(--brand-color-primary);
                        text-transform: uppercase;
                    }

                    p {
                        font: var(--paragraph-desktop);
                        font-weight: 500;

                        a {
                            text-decoration: none;
                            color: var(--text-color-secondary);
                        }

                        a:hover {
                            background: var(--brand-gradient);
                            background-clip: text; /* Aplica o fundo somente no texto */
                            -webkit-text-fill-color: transparent; /* Faz o texto transparente */
                            transition: 0.3s ease;
                        }
                    }
                }
            }
        }

        .redes-sociais {
            display: flex;
            justify-content: center;
            flex-direction: column;
            gap: 2.4rem;

            .redes-sociais-icons {
                display: flex;
                gap: 2.4rem;

                svg:hover {
                    cursor: pointer;

                    path {
                        fill: url(#paint0_linear_2230_404);
                        transition: 0.3s ease;
                    }
                }
            }

            p {
                font: var(--span-mobile-reg);
            }
        }
    }
}

@media (min-width: 376px) and (max-width: 440px) {

    body {
        background: var(--background-color);
        color: var(--text-color-secondary);
        margin: auto;
    }

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    
        padding: 2.4rem 3.2rem;
    
            .nav {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 2.4rem;
    
                a {
                    display: none;
                }
    
                button {
                    scale: 1.2;
                    padding: 0.8rem 1.6rem;
                    border-radius: 0.8rem;
                    border: none;
                    font: var(--span-mobile-reg);
                }
    
                button:hover {
                    background: var(--brand-gradient);
                    color: white;
                    cursor: pointer;
                    scale: 1.3;
                    transition: 0.3s;
                }
            }
        }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        margin-top: 3rem; 
        height: 68em;
        width: 100%;
        gap: 4.8rem;
        
        background: url(../assets/images/background.png) no-repeat bottom;
        
        .container-title {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        
            gap: 1.6rem;

            svg {
                width: 25.6rem;
            }
        
            .container-title-text {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
        
                gap: 0.8rem;
        
                h1 {
                    font: var(--h1-mobile);
                    color: var(--text-color-primary);
                    padding: 0rem 3rem;
                }
        
                h2 {
                    font: var(--h3-mobile-med);
                    color: var(--text-color-secundary);
                }
            }
        
        }
        
        .container-buttons {
            display: flex;
            align-items: center;
            justify-content: center;
        
            gap: 1.6rem;
        
            button {
                border: none;
                padding: 1.2rem 2.4rem;
                border-radius: 0.8rem;
            }
        
            .button-one {
                border: 1px solid var(--text-color-primary);
                background-color: transparent;
                font: var(--text-desktop);
                color: var(--text-color-primary);
        
                border-radius: 8px; /* Define o border-radius */
                text-align: center;
                overflow: hidden; /* Garante que o pseudo-elemento não saia dos limites */
                transition: all 0.3s ease; /* Transição suave */
                z-index: 1;
        
                position: relative;
                display: inline-block;

                &::after {
                    content: attr(aria-label);
                    background: var(--brand-gradient);
                    -webkit-background-clip: text;
                    background-clip: text;
                }
            }
        
            .button-one:hover {
                background: var(--brand-gradient);
                border: 1px solid var(--brand-gradient);
                background-clip: text;
                -webkit-text-fill-color: transparent;
                border: 1px solid;
                border-image-source: var(--brand-gradient);
                border-image-slice: 1;
                cursor: pointer;
                scale: 1.1;
                transition: 0.3s ease;
            }
        
            .button-two {
                background-color: var(--text-color-primary);
                font: var(--text-desktop);
                color: var(--background-color);
            }

            .button-two:hover {
                background: var(--brand-gradient);
                cursor: pointer;
                color: white;
                scale: 1.1;
                transition: 0.3s ease;
            }
        }
    }

    .section-introduction {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        
        padding: 8rem 2.4rem 4rem 2.4rem;
        gap: 3.2rem;
        position: relative;
        
        background-color: var(--surface-color);
        
        .section-introduction-text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            order: 2;
            margin-top: 2rem;
        
            gap: 0.8rem;
        
            h2 {
                font: var(--h2-mobile);
                color: var(--text-color-primary);
            }
        
            p:nth-child(1) {
                text-transform: uppercase;
                font: var(--span-mobile);
                color: var(--brand-color-primary);
            }
        
            p:nth-child(3) {
                font: var(--paragraph-mobile);
                color: var(--text-color-secondary);
            }
        }
        
        img {
            width: 312px;
            order: 1;
            position: absolute;
            top: -65%;
        }
        }

    .section-informations {
            display: grid;
            padding: 4.8rem 2.4rem;
        
            grid-gap: 2.4rem;
        
            .section-informations-one {
        
                background-color: var(--surface-color);
                padding: 2.4rem 2.4rem;
                border-radius: 2.4rem;
        
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 1.6rem;
        
                .section-informations-text {
                    display: flex;
                    flex-direction: column;
                    gap: 0.8rem;
        
                    h2 {
                        font: var(--h3-mobile);
                        color: var(--text-color-primary);
                    }
        
                    p {
                        font: var(--paragraph-mobile);
                        color: var(--text-color-secondary);
                    }
                }
            }
        
            .section-informations-two {
        
                background-color: var(--surface-color);
                padding: 2.4rem 2.4rem;
                border-radius: 2.4rem;
        
                display: flex;
                justify-content: center;
                gap: 1.6rem;
        
                .section-informations-two-left {
                    display: flex;
                    flex-direction: column;
                    gap: 0.8rem;
                }
        
                .section-informations-two-text {
                    display: flex;
                    flex-direction: column;
                    gap: 0.8rem;
        
                    h2 {
                        font: var(--h3-mobile);
                        color: var(--text-color-primary);
                    }
        
                    p {
                        font: var(--paragraph-mobile);
                        color: var(--text-color-secondary);
                    }
                }
        
                img {
                    display: none;
                }
            }
        
            .section-informations-three {
        
                background-color: var(--surface-color);
                padding: 2.4rem 2.4rem;
                border-radius: 2.4rem;
        
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 1.6rem;
        
                .section-informations-text {
                    display: flex;
                    flex-direction: column;
                    gap: 0.8rem;
        
                    h2 {
                        font: var(--h3-mobile);
                        color: var(--text-color-primary);
                    }
        
                    p {
                        font: var(--paragraph-mobile);
                        color: var(--text-color-secondary);
                    }
                }
            }
        
            .section-informations-four {
        
                background-color: var(--surface-color);
                padding: 2.4rem 2.4rem;
                border-radius: 2.4rem;
        
                display: flex;
                justify-content: center;
                gap: 1.6rem;
        
                .section-informations-four-text {
                    display: flex;
                    flex-direction: column;
                    gap: 0.8rem;
                }
        
                .section-informations-text {
                    display: flex;
                    flex-direction: column;
                    gap: 0.8rem;
        
                    h2 {
                        font: var(--h3-mobile);
                        color: var(--text-color-primary);
                    }
        
                    p {
                        font: var(--paragraph-mobile);
                        color: var(--text-color-secondary);
                    }
                }
        
                img {
                    display: none;
                }
            }
        
            .section-informations-five {
        
                background-color: var(--surface-color);
                padding: 2.4rem 2.4rem;
                border-radius: 2.4rem;
        
                display: flex;
                justify-content: center;
                gap: 1.6rem;
        
                .section-informations-two-left {
                    display: flex;
                    flex-direction: column;
                    gap: 0.8rem;
                }
        
                .section-informations-two-text {
                    display: flex;
                    flex-direction: column;
                    gap: 0.8rem;
        
                    h2 {
                        font: var(--h3-mobile);
                        color: var(--text-color-primary);
                    }
        
                    p {
                        font: var(--paragraph-mobile);
                        color: var(--text-color-secondary);
                    }
                }
        
                img {
                    display: none;
                }
            }
        }

    .section-prices {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    
        gap: 3.2rem;
        padding: 4.8rem 2.4rem;
    
        .section-prices-title {
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: center;
            flex-direction: column;
    
            gap: 0.8rem;
    
            p {
                font: var(--span-desktop);
                color: var(--brand-color-primary);
                text-transform: uppercase;
            }
    
            h2 {
                font: var(--h2-mobile);
                color: var(--text-color-primary);
            }
        }
    
        .section-prices-options {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
    
            gap: 3.2rem;
    
            .section-prices-options-basic {
                background-color: var(--surface-color);
                border: 1px solid var(--stroke-color);
    
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
    
                gap: 2.4rem;
                padding: 2.4rem 2.4rem;
                border-radius: 2.4rem;
                max-height: 48rem;
    
                .section-prices-options-basic-top {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
    
                    gap: 2.4rem;
    
                    .section-prices-options-basic-top-text {
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        width: 90%;
    
                        gap: 0.4rem;
    
                        h6 {
                            font: var(--h3-mobile);
                            color: var(--text-color-primary);
                        }
    
                        p {
                            font: var(--paragraph-mobile);
                            color: var(--text-color-secondary);
                        }
                    }
    
                    h4 {
                        font: var(--h1-mobile-var);
                        color: var(--text-color-primary);
                    }
    
                    button {
                        background-color: var(--surface-color);
                        border: 1px solid var(--text-color-primary);
                        padding: 1.2rem 2.4rem;
                        color: var(--text-color-primary);
                        border-radius: 0.8rem;
                    }
    
                    button:hover {
                        background: var(--brand-gradient);
                        border: 1px solid var(--brand-gradient);
                        background-clip: text;
                        -webkit-text-fill-color: transparent;
                        border: 1px solid;
                        border-image-source: var(--brand-gradient);
                        border-image-slice: 1;
                        cursor: pointer;
                        scale: 1.1;
                        transition: 0.3s ease;
                    }
                }
    
                .section-prices-options-basic-dash {
                    display: flex;
                    content: "";
                    width: 80%;
                    height: 1px;
                    background: linear-gradient(90deg, #a1a1aa00 0%, #A1A1AA 50%, #a1a1aa00 100%);
                }
    
                .section-prices-options-basic-options {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    align-self: flex-start;
    
                    gap: 1.6rem;
    
                    .section-prices-options-basic-options-item {
                        display: flex;
                        align-items: center;
    
                        gap: 0.8rem;
                        font: var(--paragraph-desktop);
                    }
                }
            }
    
            .section-prices-options-premium {
                background-color: var(--surface-color);
    
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
    
                gap: 3.2rem;
                padding: 7.2rem 2.4rem 2.4rem 2.4rem;
                border-radius: 2.4rem;
    
                position: relative;
                
                .section-prices-options-premium-label {
                    text-transform: uppercase;
                    font-family: "Inter", sans-serif;
                    font-size: 1.2rem;
                    color: var(--background-color);
                    background: var(--brand-gradient);
                    font-weight: 700;
                    padding: 1.2rem 3.2rem;

                    border-radius: 2rem 0 2rem 0;

                    position: absolute;
                    top: -3px;
                    left: -0.2px;
                }

                &::before {
                    content: "";
                    transform: scale(1.01);
                    background: var(--brand-gradient);
                    position: absolute;
                    inset: 0;
                    border-radius: inherit;
                    z-index: -1;
                }
    
                .section-prices-options-premium-top {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
    
                    gap: 2.4rem;
    
                    .section-prices-options-premium-top-text {
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
    
                        gap: 0.4rem;
    
                        h6 {
                            font: var(--h3-mobile);
                            color: var(--text-color-primary);
                        }
    
                        p {
                            font: var(--paragraph-mobile);
                            color: var(--text-color-secondary);
                        }
                    }
    
                    .section-prices-options-family-top-price {
                        display: flex;
                        gap: 0.4rem;
    
                        p {
                            font: var(--paragraph-desktop);
                            color: var(--text-color-secondary);
                            align-self: flex-end;
                        }
                    }
    
                    h4 {
                        font: var(--h1-mobile-var);
                        color: var(--text-color-primary);
                    }
    
                    button {
                        background-color: var(--text-color-primary);
                        padding: 1.2rem 2.4rem;
                        color: var(--background-color);
                        border-radius: 0.8rem;
                        border: none;
                    }
    
                    button:hover {
                        background: var(--brand-gradient);
                        color: white;
                        cursor: pointer;
                        scale: 1.1;
                        transition: 0.3s ease;
                    }
                }
    
                .section-prices-options-premium-dash {
                    display: flex;
                    content: "";
                    width: 80%;
                    height: 1px;
                    background: linear-gradient(90deg, #a1a1aa00 0%, #A1A1AA 50%, #a1a1aa00 100%);
                }
    
                .section-prices-options-premium-options {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    align-self: flex-start;
    
                    gap: 1.6rem;
    
                    .section-prices-options-premium-options-item {
                        display: flex;
                        align-items: center;
    
                        gap: 0.8rem;
                        font: var(--paragraph-desktop);
                    }
                }
            }
    
            .section-prices-options-family {
                background-color: var(--surface-color);
                border: 1px solid var(--stroke-color);
    
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
    
                gap: 2.4rem;
                padding: 2.4rem;
                border-radius: 2.4rem;
                max-height: 48rem;
    
                .section-prices-options-family-top {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
    
                    gap: 2.4rem;
    
                    .section-prices-options-family-top-text {
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        width: 90%;
    
                        gap: 0.4rem;
    
                        h6 {
                            font: var(--h3-mobile);
                            color: var(--text-color-primary);
                        }
    
                        p {
                            font: var(--paragraph-desktop);
                            color: var(--text-color-secondary);
                        }
                    }
    
                    .section-prices-options-family-top-price {
                        display: flex;
                        gap: 0.4rem;
    
                        p {
                            font: var(--paragraph-desktop);
                            color: var(--text-color-secondary);
                            align-self: flex-end;
                        }
                    }
    
                    h4 {
                        font: var(--h1-mobile-var);
                        color: var(--text-color-primary);
                    }
    
                    button {
                        background-color: var(--surface-color);
                        border: 1px solid var(--text-color-primary);
                        padding: 1.2rem 2.4rem;
                        color: var(--text-color-primary);
                        border-radius: 0.8rem;
                    }
    
                    button:hover {
                        background: var(--brand-gradient);
                        border: 1px solid var(--brand-gradient);
                        background-clip: text;
                        -webkit-text-fill-color: transparent;
                        border: 1px solid;
                        border-image-source: var(--brand-gradient);
                        border-image-slice: 1;
                        cursor: pointer;
                        scale: 1.1;
                        transition: 0.3s ease;
                    }
                }
    
                .section-prices-options-family-dash {
                    display: flex;
                    content: "";
                    width: 80%;
                    height: 1px;
                    background: linear-gradient(90deg, #a1a1aa00 0%, #A1A1AA 50%, #a1a1aa00 100%);
                }
    
                .section-prices-options-family-options {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    align-self: flex-start;
    
                    gap: 1.6rem;
    
                    .section-prices-options-family-options-item {
                        display: flex;
                        align-items: center;
    
                        gap: 0.8rem;
                        font: var(--paragraph-desktop);
                    }
                }
    
                span {
                    font: var(--span-desktop-reg);
                    align-self: flex-start;
                }
            }
        }
    }
    
    .section-download {
        padding: 4.8rem 2.4rem;

        .section-download-container {
            display: flex;
            background-color: var(--surface-color);

            border-radius: 2.4rem;

            position: relative;

            .section-download-content {
                display: flex;
                flex-direction: column;
                justify-content: center;

                padding: 4.8rem 2.4rem 24rem 2.4rem;
                gap: 3.2rem;

                .section-download-content-text {
                    display: flex;
                    flex-direction: column;

                    gap: 0.8rem;

                    span {
                        font: var(--span-mobile);
                        color: var(--brand-color-primary);
                        text-transform: uppercase;
                    }

                    h2 {
                        font: var(--h2-mobile);
                        color: var(--text-color-primary);
                    }

                    p {
                        font: var(--paragraph-mobile);
                        color: var(--text-color-secondary);
                    }
                }

                .section-download-content-buttons {
                    display: flex;
                    flex-direction: column;
                    gap: 1.5rem;

                    svg:hover {
                        cursor: pointer;
                    }
                }
            }

            img {
                height: 32rem;
                position: absolute;
                right: 0;
                bottom: 0;
                overflow: hidden;
            }
        }
    }

    footer {
        display: flex;
        flex-direction: column;

        padding: 4.88rem 3.2rem 2.4rem 3.2rem;
        gap: 4.8rem;

        .links {
            display: flex;
            flex-direction: column;
            gap: 6.4rem;

            img {
                width: 8.5rem;
            }

            .links-uteis {
                display: flex;
                            flex-direction: column;
                gap: 6.4rem;

                .links-uteis-topics {
                    display: flex;
                    flex-direction: column;
                    gap: 2rem;
                    margin-right: 3rem;

                    label {
                        font: var(--span-desktop-reg);
                        color: var(--brand-color-primary);
                        text-transform: uppercase;
                    }

                    p {
                        font: var(--paragraph-desktop);
                        font-weight: 500;

                        a {
                            text-decoration: none;
                            color: var(--text-color-secondary);
                        }

                        a:hover {
                            background: var(--brand-gradient);
                            background-clip: text; /* Aplica o fundo somente no texto */
                            -webkit-text-fill-color: transparent; /* Faz o texto transparente */
                            transition: 0.3s ease;
                        }
                    }
                }
            }
        }

        .redes-sociais {
            display: flex;
            justify-content: center;
            flex-direction: column;
            gap: 2.4rem;

            .redes-sociais-icons {
                display: flex;
                gap: 2.4rem;

                svg:hover {
                    cursor: pointer;

                    path {
                        fill: url(#paint0_linear_2230_404);
                        transition: 0.3s ease;
                    }
                }
            }

            p {
                font: var(--span-mobile-reg);
            }
        }
    }
}
