header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    padding: 2.4rem 3.2rem;

    .nav {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2.4rem;

        a {
            text-decoration: none;
            font: var(--paragraph-desktop);
            color: var(--text-color-secondary);
        }

        button {
            padding: 1.6rem 2.4rem;
        }
    }
}