@media (min-width: 441px) {
    .section-prices {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        gap: 3.2rem;
        padding: 8rem 3.2rem;

        .section-prices-title {
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: center;
            flex-direction: column;

            gap: 0.8rem;
            width: 70%;

            p {
                font: var(--span-desktop);
                color: var(--brand-color-primary);
                text-transform: uppercase;
            }

            h2 {
                font: var(--h2-desktop);
                color: var(--text-color-primary);
            }
        }

        .section-prices-options {
            display: flex;
            align-items: center;
            justify-content: center;

            gap: 3.2rem;

            .section-prices-options-basic {
                background-color: var(--surface-color);
                border: 1px solid var(--stroke-color);

                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                gap: 2.4rem;
                padding: 3.2rem;
                border-radius: 2.4rem;
                max-height: 48rem;

                .section-prices-options-basic-top {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;

                    gap: 2.4rem;

                    .section-prices-options-basic-top-text {
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        width: 90%;

                        gap: 0.4rem;

                        h6 {
                            font: var(--text-desktop-var);
                            color: var(--text-color-primary);
                        }

                        p {
                            font: var(--paragraph-desktop);
                            color: var(--text-color-secondary);
                        }
                    }

                    h4 {
                        font: var(--h2-desktop-bold);
                        color: var(--text-color-primary);
                    }

                    button {
                        background-color: var(--surface-color);
                        padding: 1.2rem 2.4rem;
                        color: var(--text-color-primary);
                        position: relative;
                    }

                    button {
                        background-color: var(--surface-color);
                        border: 1px solid var(--text-color-primary);
                        padding: 1.2rem 2.4rem;
                        color: var(--text-color-primary);
                        border-radius: 0.8rem;
                    }

                    button:hover {
                        background: var(--brand-gradient);
                        border: 1px solid var(--brand-gradient);
                        background-clip: text;
                        -webkit-text-fill-color: transparent;
                        border: 1px solid;
                        border-image-source: var(--brand-gradient);
                        border-image-slice: 1;
                        cursor: pointer;
                        scale: 1.1;
                        transition: 0.3s ease;
                    }
                }

                .section-prices-options-basic-dash {
                    display: flex;
                    content: "";
                    width: 80%;
                    height: 1px;
                    background: linear-gradient(90deg, #a1a1aa00 0%, #A1A1AA 50%, #a1a1aa00 100%);
                }

                .section-prices-options-basic-options {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    align-self: flex-start;

                    gap: 1.6rem;

                    .section-prices-options-basic-options-item {
                        display: flex;
                        align-items: center;

                        gap: 0.8rem;
                        font: var(--paragraph-desktop);
                    }
                }
            }

            .section-prices-options-premium {
                background-color: var(--surface-color);

                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                gap: 3.2rem;
                padding: 3.2rem;
                border-radius: 2.4rem;
                height: 56rem;

                position: relative;

                .section-prices-options-premium-label {
                    text-transform: uppercase;
                    font-family: "Inter", sans-serif;
                    font-size: 1.2rem;
                    color: var(--background-color);
                    background: var(--brand-gradient);
                    font-weight: 700;
                    padding: 1.2rem 3.2rem;

                    border-radius: 2rem 0 2rem 0;

                    position: absolute;
                    top: -3px;
                    left: -0.2px;
                }

                &::before {
                    content: "";
                    transform: scale(1.01);
                    background: var(--brand-gradient);
                    position: absolute;
                    inset: 0;
                    border-radius: inherit;
                    z-index: -1;
                }

                .section-prices-options-premium-top {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;

                    gap: 2.4rem;

                    .section-prices-options-premium-top-text {
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        width: 90%;

                        gap: 0.4rem;

                        h6 {
                            font: var(--text-desktop-var);
                            color: var(--text-color-primary);
                        }

                        p {
                            font: var(--paragraph-desktop);
                            color: var(--text-color-secondary);
                        }
                    }

                    .section-prices-options-family-top-price {
                        display: flex;
                        gap: 0.4rem;

                        p {
                            font: var(--paragraph-desktop);
                            color: var(--text-color-secondary);
                            align-self: flex-end;
                        }
                    }

                    h4 {
                        font: var(--h2-desktop-bold);
                        color: var(--text-color-primary);
                    }

                    button {
                        background-color: var(--text-color-primary);
                        padding: 1.2rem 2.4rem;
                        color: var(--background-color);
                        border-radius: 0.8rem;
                        border: none;
                    }

                    button:hover {
                        background: var(--brand-gradient);
                        color: white;
                        cursor: pointer;
                        scale: 1.1;
                        transition: 0.3s ease;
                    }
                }

                .section-prices-options-premium-dash {
                    display: flex;
                    content: "";
                    width: 80%;
                    height: 1px;
                    background: linear-gradient(90deg, #a1a1aa00 0%, #A1A1AA 50%, #a1a1aa00 100%);
                }

                .section-prices-options-premium-options {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    align-self: flex-start;

                    gap: 1.6rem;

                    .section-prices-options-premium-options-item {
                        display: flex;
                        align-items: center;

                        gap: 0.8rem;
                        font: var(--paragraph-desktop);
                    }
                }
            }

            .section-prices-options-family {
                background-color: var(--surface-color);
                border: 1px solid var(--stroke-color);

                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                gap: 2.4rem;
                padding: 3.2rem;
                border-radius: 2.4rem;
                max-height: 48rem;

                .section-prices-options-family-top {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;

                    gap: 2.4rem;

                    .section-prices-options-family-top-text {
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        width: 90%;

                        gap: 0.4rem;

                        h6 {
                            font: var(--text-desktop-var);
                            color: var(--text-color-primary);
                        }

                        p {
                            font: var(--paragraph-desktop);
                            color: var(--text-color-secondary);
                        }
                    }

                    .section-prices-options-family-top-price {
                        display: flex;
                        gap: 0.4rem;

                        p {
                            font: var(--paragraph-desktop);
                            color: var(--text-color-secondary);
                            align-self: flex-end;
                        }
                    }

                    h4 {
                        font: var(--h2-desktop-bold);
                        color: var(--text-color-primary);
                    }

                    button {
                        background-color: var(--surface-color);
                        border: 1px solid var(--text-color-primary);
                        padding: 1.2rem 2.4rem;
                        color: var(--text-color-primary);
                        border-radius: 0.8rem;
                    }

                    button:hover {
                        background: var(--brand-gradient);
                        border: 1px solid var(--brand-gradient);
                        background-clip: text;
                        -webkit-text-fill-color: transparent;
                        border: 1px solid;
                        border-image-source: var(--brand-gradient);
                        border-image-slice: 1;
                        cursor: pointer;
                        scale: 1.1;
                        transition: 0.3s ease;
                    }
                }

                .section-prices-options-family-dash {
                    display: flex;
                    content: "";
                    width: 80%;
                    height: 1px;
                    background: linear-gradient(90deg, #a1a1aa00 0%, #A1A1AA 50%, #a1a1aa00 100%);
                }

                .section-prices-options-family-options {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    align-self: flex-start;

                    gap: 1.6rem;

                    .section-prices-options-family-options-item {
                        display: flex;
                        align-items: center;

                        gap: 0.8rem;
                        font: var(--paragraph-desktop);
                    }
                }

                span {
                    font: var(--span-desktop-reg);
                    align-self: flex-start;
                }
            }
        }
    }
}